PORT=3000
DB_NAME=
DB_USER=
DB_PW=2wsx@WSX
DB_HOST=
DB_SCHEMA=
DB_PORT=

# leave this as a blank value to be treated as false.
# in the terminal type DEBUG=true to enable debugging
# and debug logging to the log file
DEBUG
