PORT=3000
DB_NAME=
DB_USER=
DB_PW=
DB_HOST=
DB_SCHEMA=
DB_PORT=

# Leave `DEBUG` as a blank value to be treated as false.
# In the terminal stop the server and type `DEBUG=true node server.js` to enable debugging
# logs show in the terminal.
DEBUG=
