
nav ul{
	list-style: none;
	padding: 0;
}

nav ul li{
	display: block;
	float: left;
	margin-left: 5%;
}

h1{
	text-align: center;
}

div.link-wrapper:first-of-type,
.btn-edit-short-link,
.btn-delete-submit,
.btn-shorten-url-submit{
	margin-top: 2rem;
}

label:last-of-type{
	margin-top: 2rem;
}
